{% extends "layout.twig" %}

{% block title %}User list{% endblock %}

{% block content %}
    <h1>User List</h1>
    <a href="{{ path_for('people/create') }}" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td>
                        {{ person.uuid }}
                    </td>
                    <td>
                        {{ person.name }}
                    </td>
                    <td>
                        <form action="{{ path_for('people/delete', {'uuid': person.uuid}) }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <input type="submit" class="btn btn-warning" value="Delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
