{% extends "layout.twig" %}

{% block title %}User list{% endblock %}

{% block content %}
    <h1>User List</h1>
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="people[][firstname]" placeholder="First name">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="people[][surname]" placeholder="Last name">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
